
<form [formGroup] = "contactForm" (ngSubmit)="filter">
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="brandFilter">
                <option [ngValue]="null" disabled>Select Brand</option>
                <option *ngFor="let brand of brands" 
                        (change) = "getCurrentBrand(brand)"                              
                        [class] = "setCurrentBrandClass(brand)" [ngValue]="brand.brandId">
                                {{brand.brandName}}
                </option>
        </select>       
        <button type="submit" routerLink="cars/brand/{{filter()}}" >Filter</button>
</form>