<div class="contect" style="margin-top: 20px;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Marka Ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="brandAddForm" >
                    <div class="mb-3">
                        <label for="brandName">Marka Adı</label>
                        <div class="form-group">
                            <input type="text" 
                            id="brandName" formControlName="brandName" 
                            class="form-control" placeholder="Marka Adı"/>
                        </div>       
                    </div>        
                </form>
            </div>
            <div class="cart-footer">
                <button class="btn btn-fill btn-primary" (click)="addBrand()" >Ekle</button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 20px;">
    <ul class="list-group-flush" style="max-width: 200px;" >
        <li *ngFor="let brand of brands" class="list-group-item"> {{brand.brandName}} </li>
    </ul>
</div>