<li *ngIf="cartItems.length > 0" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"id="navbarDropdown"
     role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Sepetiniz
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li *ngFor="let cartItem of cartItems">
            <a class="dropdown-item" routerLink="/carDetails/{{cartItem.car.carId}}" >
              {{cartItem.car.description}} &ensp; --- &ensp; 
              {{cartItem.rentDate | date:"dd/MM/yyyy,hh:mm"}} - {{cartItem.returnDate | date:"dd/MM/yyyy,hh:mm"}} &ensp; --- &ensp;
              {{cartItem.totalCost | currency}}
              <span class="badge rounded-pill bg-info">  </span>
            </a>
        </li>
          <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" routerLink="cart">Sepeti Onayla</a></li>
    </ul>
</li>