<div class="row">

    <div class="col-3">
        <app-car-filter></app-car-filter>
    </div>



    <div *ngIf="!carDetails" class="col-9">
        <div class="mb-3">
            <label for="filterText" class="form-label">Ürün Ara</label>
            <input type="email" [(ngModel)]="filterText" class="form-control" id="filterText" 
            placeholder="Aramak İstediğiniz Ürünü Giriniz">
        </div>

        <div *ngIf="dataListed == false"  class="spinner-border text-primary" role="status" 
        style="margin: auto; display: block;">
            <span class="visually-hidden">Loading...</span>
        </div>


        <div>
            <div class="card mb-3" *ngFor="let car of cars | filter:filterText" style="margin:20px">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h5 class="card-title" (click)=" getCurrentCar(car);  "
                            routerLink="/carDetails/{{car.carId}}"> {{car.description}} </h5>
                            <p class="card-text" style="width: 300px;"> 
                                Marka: {{car.brandName}} <br>Renk: {{car.colorName}} 
                                <br> Model: {{car.modelYear}} <br>Günlük Fiyat: {{car.dailyPrice | currency }} 
                            </p>
                            <a class="btn btn-primary" (click)="addToCart(car)">Kirala</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <img [src]="getCarIdForExhibitImage(car.carId)" class="imageCards" width="300px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="carDetails">
    <div>
        <img  *ngFor="let carImage of carImages" [src]="getImageSource(carImage)" width="300px" class="imageCards" >
    </div>
        <div>
            <table class = "table">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Brand</td>
                        <td>Color</td>
                        <td>Model</td>
                        <td>DailyPrice</td>
                        <td>Description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{carDetails.carId}} </td>
                        <td> {{carDetails.brandName}} </td>
                        <td> {{carDetails.colorName}} </td>
                        <td> {{carDetails.modelYear}} </td>
                        <td> {{carDetails.dailyPrice}} </td>
                        <td> {{carDetails.description}} </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>  